.friendlist {
  width: 420px;
  margin-left: auto;
  margin-right: auto;
}
.item {
  display: flex;
  padding: 10px 0;
  align-items: center;
  box-shadow: 5px 5px 15px 5px rgb(144, 145, 144);
  margin-bottom: 5px;
}

.status {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.isOnline {
  composes: status;
  background-color: green;
}

.isOffline {
  composes: status;
  background-color: red;
}
.avatar {
  margin-right: 15px;
}

.name {
  font-weight: 900;
  font-size: 22px;
}
