.statistics {
  width: 400px;
  margin: 50px auto;
  box-shadow: 5px 5px 15px 5px rgb(128, 127, 127);
}

.title {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
  color: rgb(68, 67, 67);
}

.statlist {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.item {
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.label {
  display: block;
  padding-bottom: 10px;
  font-weight: 700;
  color: #ffffff;
}

.percentage {
  display: block;
  color: #ffffff;
  font-size: 20px;
}
